#typo3_clearcache {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#typo3_clearcache ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#typo3_clearcache ul li a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 12px;
	text-decoration: none;
	color: #212424;
	display: block;
	width: 225px;
	padding: 3px 6px;
	margin-bottom: 1px;
}

#typo3_clearcache ul li a:hover, #typo3_clearcache ul li a.active {
	border: 1px solid #ccc;
	background: #eee;
	padding: 2px 5px;
}

#typo3_clearcache ul li a img {
	vertical-align: middle;
}

#typo3_clearcache ul li a span.image {
	width: 24px;
	display: inline-block;
}

#typo3_clearcache ul li a span {
	line-height: 20px;
}

#typo3_clearcache ul li.checkbox {
	margin-top: 5px;
	border-top: 1px solid #ccc;
	padding: 8px 0 0;
	display: block;
}

#typo3_clearcache ul li.checkbox label {
	display: block;
}

#typo3_clearcache ul li.checkbox label span {
	padding-left: 8px;
	color: #444;
}

#typo3_clearcache ul li.checkbox label input {
	margin-left: 7px;
}

#typo3_clearcache ul li.checkbox label span, #typo3_clearcache ul li.checkbox label input {
	vertical-align: middle;
}

#typo3_clearcache ul li.checkbox.autoClearCache {
	border-top: none;
	padding-top: 0;
}



#typo3_clearcache .installationRequired, #typo3_clearcache .loginRequired {
	width: 290px;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 13px;
	line-height: 17px;
	color: #444;
	background: url('/Resources/Public/Icons/icon32.png') no-repeat left top;
	padding-left: 44px;
}

#typo3_clearcache .error {
	background: url('/Resources/Public/Icons/error.png') no-repeat left top;
}

#typo3_clearcache .error .code {
	margin-top: 5px;
	color: #c34649;
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size: 11px;
}

#typo3_clearcache .installationRequired a, #typo3_clearcache .loginRequired a {
	display: block;
	padding: 7px 0 9px 14px;
	margin-left: 4px;
	background: url('../Icons/linkbullet.png') no-repeat left center;
	color: #15C;
	font-size: 11px;
}

#typo3_clearcache .installationRequired b, #typo3_clearcache .loginRequired b {
	display: block;
	padding-bottom: 5px;
}